*log
*.swp
*~
*.bgn
*.bit
*.bld
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*_bitgen.xwbt
*_map.map
*_map.mrp
*_map.ncd
*_map.ngm
*_map.xrpt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_par.xrpt
*_summary.xml
*_usage.xml
*_xst.xrpt
_ngo
_xmsgs
c4che
config.log
usage_statistics_webtalk.html
xlnx_auto_0_xdb
xst
webtalk*
__xps
*.log
*.svf
*.scr
*.cmd
*.bak
*.elf
#*.ace
*.bsb
*.make
XpsGuiSessionLock
*.opt
*.ut
*.filters
*.gui
*.xrpt
*.ngc
*.xpi
*.bld
*.map
*.blc
*.drc
*.bmm
*.mrp
*.ncd
*.par
*.pad
*.bgn
*.flw
*.twr
*.twx
*.unroutes
*.ncf
*.ngm
*.ptwx
*.xwbt
*.ngd
*.edn
*.ngo
_xmsgs
cache
revup/
*.html
