# LCD connection
NET PXL_CLK    LOC = W8  | IOSTANDARD = LVCMOS25 | SLEW = FAST; 
NET VSYNC      LOC = Y7  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET HSYNC      LOC = Y6  | IOSTANDARD = LVCMOS25 | SLEW = FAST;

NET DE     		LOC = W6  | IOSTANDARD = LVCMOS25 | SLEW = FAST; #TFT_DTMG

NET brigthness_pin LOC = U7  | IOSTANDARD = LVCMOS25;
NET tft_wake_n     LOC = V8  | IOSTANDARD = LVCMOS25; 
NET tft_ena        LOC = V6  | IOSTANDARD = LVCMOS25; 

#RED
NET RED[0]    LOC = W10 | IOSTANDARD = LVCMOS25 | SLEW = FAST; 
NET RED[1]    LOC = W9  | IOSTANDARD = LVCMOS25 | SLEW = FAST; 
NET RED[2]    LOC = V11 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET RED[3]    LOC = V10 | IOSTANDARD = LVCMOS25 | SLEW = FAST; 
NET RED[4]    LOC = Y12 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET RED[5]    LOC = Y13 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#GREEN
NET GREEN[0]   LOC = T12 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET GREEN[1]   LOC = U12 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET GREEN[2]   LOC = U13 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET GREEN[3]   LOC = V13 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET GREEN[4]   LOC = U14 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET GREEN[5]   LOC = U15 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
#BLUE
NET BLUE[0]   LOC = P14 | IOSTANDARD = LVCMOS25 | SLEW = FAST; 
NET BLUE[1]   LOC = R14 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET BLUE[2]   LOC = P15 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET BLUE[3]   LOC = P16 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET BLUE[4]   LOC = T16 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET BLUE[5]   LOC = U17 | IOSTANDARD = LVCMOS25 | SLEW = FAST;

NET I2C_SDA   LOC = T5 | IOSTANDARD = LVCMOS25;
NET I2C_SCL   LOC = U5 | IOSTANDARD = LVCMOS25;
NET I2C_INT_N LOC = V7 | IOSTANDARD = LVCMOS25 | PULLUP;